.title {
  margin-bottom: 16px;

  font: 700 2em/1.5 'Roboto Mono', monospace;
}

.calculator {
  width: 235px;
  height: 320px;

  display: grid;
  grid-template-rows: 48px 48px 48px 48px 48px;
  grid-template-columns: repeat(4, 25%);

  overflow: hidden;
  border-radius: 5px;
}
