:root {
  --bg-display: #0004;

  --bg-button: #f0f0f0;
  --bg-button-active: #ccc;
  --bg-button-operation: #1b998b;
  --bg-button-operation-active: #1b998bcc;
  --border-button: solid 1px rgba(136, 136, 136, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;

  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #29323c;
}
