* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'RobotoMono', monospace;
}

body {
  height: 100vh;

  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #29323c;
}
