:root {
  --bg-button: #f0f0f0;
  --bg-display: #0004;
  --border-button: solid 1px #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;

  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #29323c;
}
